# 0.9 Polygon Historical Data

Download polygon historical data and insert it in gc postgresql table historic_trades

In [ ]:
import config
import pandas_market_calendars as pmc
import datetime
from polygon import RESTClient

key = config.POLYGON

sp500_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

nyse = pmc.get_calendar('NASDAQ')

today = datetime.datetime.now().date()
today_sub_45 = today - pd.Timedelta(45, 'd')

days = nyse.schedule(start_date='2019-01-01', end_date='2019-12-31').index
day = days[0].date().strftime('%Y-%m-%d')
print(day)

results = {}

for stock in sp500_df['Symbol']:
    print(f'Getting stock {stock}')
    with RESTClient(key) as client:
        try:
            results[stock] = client.historic_trades_v2(stock, day).results
        except:
            print(f'No results for stock {stock}')
results

In [15]:
days = nyse.schedule(start_date='2019-01-01', end_date='2019-12-31').index
days = [day for i, day in enumerate(days) if i % 30 == 0]
days

NameError: name 'nyse' is not defined

In [4]:
date_tracker = 

date_tracker

          day
0  2018-20-10

In [11]:
for stock in sp500_df['Symbol']:
    try:
        assert(results[stock][-1] != None)
    except:
        print(f'No results for stock {stock}')

No results for stock LUMN

In [19]:
nyse = pmc.get_calendar('NASDAQ')
days = nyse.schedule(start_date='2019-01-01', end_date='2019-12-31').index
days = [day.date().strftime('%Y-%m-%d') for i, day in enumerate(days) if i % 30 == 0]

results_2019 = {}
results_2019[days[0]] = 1

In [20]:
results_2019

{'2019-01-02': 1}

In [ ]:
import config
import pandas_market_calendars as pmc
import datetime
from polygon import RESTClient

key = config.POLYGON

# download a list of S&P500 companies
sp500_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

# fill missing added date as 1950-01-01
# fix encoding for T and cast as datetime
sp500_df['Date first added'] = sp500_df['Date first added'].fillna('1950-01-01')
sp500_df.loc[53, 'Date first added'] = '1983-11-30'
sp500_df['Date first added'] = pd.to_datetime(sp500_df['Date first added'])
# sp500_df['Date first added']
sp500_df[sp500_df['Symbol'] == 'LUMN']

# get nyse trading days for 2019 and grab every 30
nyse = pmc.get_calendar('NASDAQ')
days = nyse.schedule(start_date='2019-01-01', end_date='2020-09-15').index
days = [day.date().strftime('%Y-%m-%d') for i, day in enumerate(days) if i % 30 == 0]

results_2020 = {}
missing = {}

for day in days:
    print(day)
    results_2020[day] = {}
    for stock in sp500_df['Symbol']:
        print(stock)
        with RESTClient(key) as client:
            results_2020[day][stock] = client.historic_trades_v2(stock, day).results
        try:
            if results_2020[day][stock][-1]:
                continue
        except:
            print('----------------------------')
            print(f'No results {stock} on {day}')
            added = sp500_df[sp500_df['Symbol'] == stock]['Date first added'].iloc[0].date().strftime('%Y-%m-%d')
            print(f'Was added on {added}')
            missing[stock] = {'Missing on': day,
                             'Added on': added}

In [54]:
missing

{'AMCR': {'Missing on': '2019-05-13', 'Added on': '2019-06-07'},
 'BKR': {'Missing on': '2019-05-13', 'Added on': '2017-07-07'},
 'CARR': {'Missing on': '2019-05-13', 'Added on': '2020-04-03'},
 'CTVA': {'Missing on': '2019-05-13', 'Added on': '2019-06-03'},
 'DOW': {'Missing on': '2019-03-29', 'Added on': '2019-04-01'},
 'DD': {'Missing on': '2019-05-13', 'Added on': '2019-04-02'},
 'GL': {'Missing on': '2019-05-13', 'Added on': '1989-04-30'},
 'PEAK': {'Missing on': '2019-05-13', 'Added on': '2008-03-31'},
 'HWM': {'Missing on': '2019-05-13', 'Added on': '1964-03-31'},
 'J': {'Missing on': '2019-03-29', 'Added on': '2007-10-26'},
 'LHX': {'Missing on': '2019-03-29', 'Added on': '1950-01-01'},
 'LUMN': {'Missing on': '2019-03-29', 'Added on': '1999-03-25'},
 'NLOK': {'Missing on': '2019-03-29', 'Added on': '2003-03-25'},
 'OTIS': {'Missing on': '2019-03-29', 'Added on': '2020-04-03'},
 'RTX': {'Missing on': '2019-03-29', 'Added on': '1950-01-01'},
 'TT': {'Missing on': '2019-03-29', 'Added on': '2010-11-17'},
 'TFC': {'Missing on': '2019-03-29', 'Added on': '1997-12-04'},
 'VIAC': {'Missing on': '2019-03-29', 'Added on': '1950-01-01'}}

In [52]:
sp500_df[sp500_df['Symbol'] == 'LUMN']['Date first added'].iloc[0].date().strftime('%Y-%m-%d')

'1999-03-25'

In [38]:
days

[Timestamp('2020-06-23 00:00:00'),
 Timestamp('2020-07-15 00:00:00'),
 Timestamp('2020-08-05 00:00:00'),
 Timestamp('2020-08-26 00:00:00')]

In [37]:
nyse = pmc.get_calendar('NASDAQ')
days = nyse.schedule(start_date='2020-06-23', end_date='2020-09-15').index
days = [day for i, day in enumerate(days) if i % 15 == 0]
#for day in days:
sp500_df[sp500_df['Date first added'] > days[0]]

Empty DataFrame
Columns: [Symbol, Security, SEC filings, GICS Sector, GICS Sub Industry, Headquarters Location, Date first added, CIK, Founded]
Index: []

In [31]:
sp500_df.sort_values(by='Date first added', ascending = False)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
438,TDY,Teledyne Technologies,reports,Industrials,Aerospace & Defense,"Thousand Oaks, California",2020-06-22,1094285,1960
68,BIO,Bio-Rad Laboratories,reports,Health Care,Life Sciences Tools & Services,"Hercules, California",2020-06-22,12208,1952
451,TYL,Tyler Technologies,reports,Information Technology,Application Software,"Plano, Texas",2020-06-22,860731,1966
487,WST,West Pharmaceutical Services,reports,Health Care,Health Care Supplies,"Exton, Pennsylvania",2020-05-22,105770,1923
142,DXCM,DexCom,reports,Health Care,Health Care Equipment,"San Diego, California",2020-05-12,1093557,1999
...,...,...,...,...,...,...,...,...,...
151,D,Dominion Energy,reports,Utilities,Electric Utilities,"Richmond, Virginia",1950-01-01,715957,1983
136,DRI,Darden Restaurants,reports,Consumer Discretionary,Restaurants,"Orlando, Florida",1950-01-01,940944,1938
135,DHR,Danaher Corp.,reports,Health Care,Health Care Equipment,"Washington, D.C.",1950-01-01,313616,1969
434,TPR,"Tapestry, Inc.",reports,Consumer Discretionary,"Apparel, Accessories & Luxury Goods","New York, New York",1950-01-01,1116132,2017
295,L,Loews Corp.,reports,Financials,Multi-line Insurance,"New York, New York",1950-01-01,60086,NaN

In [16]:
sp500_df[sp500_df['Symbol'] == 'T']

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
53,T,AT&T Inc.,reports,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30 (1957-03-04),732717,1983 (1885)

In [19]:
sp500_df['Date first added'] = sp500_df['Date first added'].fillna('1950-01-01')
sp500_df.loc[53, 'Date first added'] = '1983-11-30'
sp500_df['Date first added'] = pd.to_datetime(sp500_df['Date first added'])
sp500_df['Date first added']

0     1976-08-09
1     1964-03-31
2     2012-12-31
3     2018-05-31
4     2011-07-06
         ...
500   1997-10-06
501   2019-12-23
502   2001-08-07
503   2001-06-22
504   2013-06-21
Name: Date first added, Length: 505, dtype: datetime64[ns]

In [20]:
stock = sp500_df[0]
date = day
with RESTClient(key) as client:
    print(client.historic_trades_v2(stock, date).results)

KeyError: 0

In [4]:
resp.results_counta

50000

In [6]:
resp.map

{'t': {'name': 'sip_timestamp', 'type': 'int64'},
 'q': {'name': 'sequence_number', 'type': 'int'},
 'c': {'name': 'conditions', 'type': '[]int'},
 'i': {'name': 'id', 'type': 'string'},
 'r': {'name': 'trf_id', 'type': 'int'},
 's': {'name': 'size', 'type': 'int'},
 'y': {'name': 'participant_timestamp', 'type': 'int64'},
 'f': {'name': 'trf_timestamp', 'type': 'int64'},
 'I': {'name': 'orig_id', 'type': 'string'},
 'e': {'name': 'correction', 'type': 'int'},
 'x': {'name': 'exchange', 'type': 'int'},
 'p': {'name': 'price', 'type': 'float64'},
 'z': {'name': 'tape', 'type': 'int'}}

In [7]:
resp.db_latency

126

In [8]:
resp.ticker

'AAPL'

In [9]:
type(resp.results)

list

In [10]:
resp.results[0]

{'t': 1519981200014196645,
 'y': 1519981200013260032,
 'q': 1069,
 'i': '1',
 'x': 11,
 's': 6,
 'c': [12, 37],
 'p': 175.1,
 'z': 3}

In [3]:
import datetime
import logging
import os
import sqlalchemy

def init_connection_engine():
    db_config = {
        # [START cloud_sql_postgres_sqlalchemy_limit]
        # Pool size is the maximum number of permanent connections to keep.
        "pool_size": 5,
        # Temporarily exceeds the set pool_size if no connections are available.
        "max_overflow": 2,
        # The total number of concurrent connections for your application will be
        # a total of pool_size and max_overflow.
        # [END cloud_sql_postgres_sqlalchemy_limit]

        # [START cloud_sql_postgres_sqlalchemy_backoff]
        # SQLAlchemy automatically uses delays between failed connection attempts,
        # but provides no arguments for configuration.
        # [END cloud_sql_postgres_sqlalchemy_backoff]

        # [START cloud_sql_postgres_sqlalchemy_timeout]
        # 'pool_timeout' is the maximum number of seconds to wait when retrieving a
        # new connection from the pool. After the specified amount of time, an
        # exception will be thrown.
        "pool_timeout": 30,  # 30 seconds
        # [END cloud_sql_postgres_sqlalchemy_timeout]

        # [START cloud_sql_postgres_sqlalchemy_lifetime]
        # 'pool_recycle' is the maximum number of seconds a connection can persist.
        # Connections that live longer than the specified amount of time will be
        # reestablished
        "pool_recycle": 1800,  # 30 minutes
        # [END cloud_sql_postgres_sqlalchemy_lifetime]
    }

    if os.environ.get("DB_HOST"):
        return init_tcp_connection_engine(db_config)
    else:
        return init_unix_connection_engine(db_config)


def init_tcp_connection_engine(db_config):
    # [START cloud_sql_postgres_sqlalchemy_create_tcp]
    # Remember - storing secrets in plaintext is potentially unsafe. Consider using
    # something like https://cloud.google.com/secret-manager/docs/overview to help keep
    # secrets secret.
    db_user = os.environ["DB_USER"]
    db_pass = os.environ["DB_PASS"]
    db_name = os.environ["DB_NAME"]
    db_host = os.environ["DB_HOST"]

    # Extract host and port from db_host
    host_args = db_host.split(":")
    db_hostname, db_port = host_args[0], int(host_args[1])

    pool = sqlalchemy.create_engine(
        # Equivalent URL:
        # postgres+pg8000://<db_user>:<db_pass>@<db_host>:<db_port>/<db_name>
        sqlalchemy.engine.url.URL(
            drivername="postgres+pg8000",
            username=db_user,  # e.g. "my-database-user"
            password=db_pass,  # e.g. "my-database-password"
            host=db_hostname,  # e.g. "127.0.0.1"
            port=db_port,  # e.g. 5432
            database=db_name  # e.g. "my-database-name"
        ),
        # ... Specify additional properties here.
        # [END cloud_sql_postgres_sqlalchemy_create_tcp]
        **db_config
        # [START cloud_sql_postgres_sqlalchemy_create_tcp]
    )
    # [END cloud_sql_postgres_sqlalchemy_create_tcp]

    return pool


def init_unix_connection_engine(db_config):
    # [START cloud_sql_postgres_sqlalchemy_create_socket]
    # Remember - storing secrets in plaintext is potentially unsafe. Consider using
    # something like https://cloud.google.com/secret-manager/docs/overview to help keep
    # secrets secret.
    db_user = os.environ["DB_USER"]
    db_pass = os.environ["DB_PASS"]
    db_name = os.environ["DB_NAME"]
    db_socket_dir = os.environ.get("DB_SOCKET_DIR", "/cloudsql")
    cloud_sql_connection_name = os.environ["CLOUD_SQL_CONNECTION_NAME"]

    pool = sqlalchemy.create_engine(
        # Equivalent URL:
        # postgres+pg8000://<db_user>:<db_pass>@/<db_name>
        #                         ?unix_sock=<socket_path>/<cloud_sql_instance_name>/.s.PGSQL.5432
        sqlalchemy.engine.url.URL(
            drivername="postgres+pg8000",
            username=db_user,  # e.g. "my-database-user"
            password=db_pass,  # e.g. "my-database-password"
            database=db_name,  # e.g. "my-database-name"
            query={
                "unix_sock": "{}/{}/.s.PGSQL.5432".format(
                    db_socket_dir,  # e.g. "/cloudsql"
                    cloud_sql_connection_name)  # i.e "<PROJECT-NAME>:<INSTANCE-REGION>:<INSTANCE-NAME>"
            }
        ),
        # ... Specify additional properties here.
        # [END cloud_sql_postgres_sqlalchemy_create_socket]
        **db_config
        # [START cloud_sql_postgres_sqlalchemy_create_socket]
    )
    # [END cloud_sql_postgres_sqlalchemy_create_socket]

    return pool


# The SQLAlchemy engine will help manage interactions, including automatically
# managing a pool of connections to your database
db = init_connection_engine()

In [4]:
db

Engine(postgres+pg8000://postgres:***@127.0.0.1:5432/postgres)

In [21]:
resp.results[0]

{'t': 1519981200014196645,
 'y': 1519981200013260032,
 'q': 1069,
 'i': '1',
 'x': 11,
 's': 6,
 'c': [12, 37],
 'p': 175.1,
 'z': 3}

In [5]:
resp.map

{'c': {'name': 'conditions', 'type': '[]int'},
 'e': {'name': 'correction', 'type': 'int'},
 'r': {'name': 'trf_id', 'type': 'int'},
 'I': {'name': 'orig_id', 'type': 'string'},
 'x': {'name': 'exchange', 'type': 'int'},
 's': {'name': 'size', 'type': 'int'},
 't': {'name': 'sip_timestamp', 'type': 'int64'},
 'y': {'name': 'participant_timestamp', 'type': 'int64'},
 'f': {'name': 'trf_timestamp', 'type': 'int64'},
 'q': {'name': 'sequence_number', 'type': 'int'},
 'i': {'name': 'id', 'type': 'string'},
 'p': {'name': 'price', 'type': 'float64'},
 'z': {'name': 'tape', 'type': 'int'}}

In [6]:
res = {resp.map[resp_key]['name']:resp.results[0][resp_key] for resp_key in resp.results[0]}

In [7]:
res['sym'] = 'AAPL'

In [8]:
res

{'sip_timestamp': 1519981200014196645,
 'participant_timestamp': 1519981200013260032,
 'sequence_number': 1069,
 'id': '1',
 'exchange': 11,
 'size': 6,
 'conditions': [12, 37],
 'price': 175.1,
 'tape': 3,
 'sym': 'AAPL'}

In [9]:
res['sip_timestamp']

1519981200014196645

In [10]:
from datetime import datetime

datetime.fromtimestamp(res['sip_timestamp']/1000000000)

datetime.datetime(2018, 3, 2, 1, 0, 0, 14197)

In [17]:


meta = MetaData()

historic_trades = Table('historic_trades', meta,  
                        Column('id', Integer, primary_key=True),
                        Column('sip_timestamp', DateTime), 
                        Column('participant_timestamp', DateTime),
                        Column('sequence_number', Integer),
                        Column('idx', Integer),
                        Column('exchange', Integer),
                        Column('size', Integer),
                        Column('conditions', ARRAY(Integer)),
                        Column('price', Float),
                        Column('tape', Integer),
                        Column('symbol', String)
                        )

In [18]:
historic_trades

Table('historic_trades', MetaData(bind=None), Column('id', Integer(), table=<historic_trades>, primary_key=True, nullable=False), Column('sip_timestamp', DateTime(), table=<historic_trades>), Column('participant_timestamp', DateTime(), table=<historic_trades>), Column('sequence_number', Integer(), table=<historic_trades>), Column('idx', Integer(), table=<historic_trades>), Column('exchange', Integer(), table=<historic_trades>), Column('size', Integer(), table=<historic_trades>), Column('conditions', ARRAY(Integer()), table=<historic_trades>), Column('price', Float(), table=<historic_trades>), Column('tape', Integer(), table=<historic_trades>), Column('symbol', String(), table=<historic_trades>), schema=None)

In [65]:
meta.create_all(db)

In [26]:
res = {resp.map[resp_key]['name']:resp.results[1][resp_key] for resp_key in resp.results[1]}
res['symbol'] = 'AAPL'
res['sip_timestamp'] = datetime.fromtimestamp(res['sip_timestamp']/1000000000)
res['participant_timestamp'] = datetime.fromtimestamp(res['participant_timestamp']/1000000000)
res

{'sip_timestamp': datetime.datetime(2018, 3, 2, 1, 0, 0, 14200),
 'participant_timestamp': datetime.datetime(2018, 3, 2, 1, 0, 0, 13261),
 'sequence_number': 1070,
 'id': '2',
 'exchange': 11,
 'size': 54,
 'conditions': [12, 37],
 'price': 175.1,
 'tape': 3,
 'symbol': 'AAPL'}

In [27]:
ins = historic_trades.insert(res) 
ins

In [28]:
result = db.execute(ins)
result

In [29]:
from sqlalchemy.sql import select 
s = select([historic_trades])
result = db.execute(s)
result

In [30]:
for row in result:
    print(row)

(1, datetime.datetime(2018, 3, 2, 1, 0, 0, 14197), datetime.datetime(2018, 3, 2, 1, 0, 0, 13260), 1069, None, 11, 6, [12, 37], 175.1, 3, 'AAPL')
(2, datetime.datetime(2018, 3, 2, 1, 0, 0, 14200), datetime.datetime(2018, 3, 2, 1, 0, 0, 13261), 1070, None, 11, 54, [12, 37], 175.1, 3, 'AAPL')

In [ ]:
resp.results

In [39]:
resp.map

{'c': {'name': 'conditions', 'type': '[]int'},
 'e': {'name': 'correction', 'type': 'int'},
 'r': {'name': 'trf_id', 'type': 'int'},
 'I': {'name': 'orig_id', 'type': 'string'},
 'x': {'name': 'exchange', 'type': 'int'},
 's': {'name': 'size', 'type': 'int'},
 't': {'name': 'sip_timestamp', 'type': 'int64'},
 'y': {'name': 'participant_timestamp', 'type': 'int64'},
 'f': {'name': 'trf_timestamp', 'type': 'int64'},
 'q': {'name': 'sequence_number', 'type': 'int'},
 'i': {'name': 'id', 'type': 'string'},
 'p': {'name': 'price', 'type': 'float64'},
 'z': {'name': 'tape', 'type': 'int'}}

In [ ]:
ticks = []
for i, res in enumerate(resp.results):
    ticks.append({resp.map[resp_key]['name']:resp.results[i][resp_key] for resp_key in resp.results[i]})
    ticks[i]['symbol'] = 'AAPL'
    ticks[i]['idx'] = ticks[i].pop('id',None)
    ticks[i]['sip_timestamp'] = datetime.fromtimestamp(ticks[i]['sip_timestamp']/1000000000)
    ticks[i]['participant_timestamp'] = datetime.fromtimestamp(ticks[i]['participant_timestamp']/1000000000)
    if 'conditions' not in ticks[i].keys():
        ticks[i]['conditions'] = []
ticks

In [52]:
for i, tick in enumerate(ticks):
    if 'conditions' not in tick.keys():
        print(tick)

In [56]:
db.execute(historic_trades.insert(), ticks[0:10])

In [ ]:
for i in range(0, len(ticks), 1000):
    print(i, 1000+i)
    db.execute(historic_trades.insert(), ticks[i:1000+i])

In [46]:
from sqlalchemy.sql import select 
s = select([historic_trades])
result = db.execute(s)

for row in result:
    print(row)

(1, datetime.datetime(2018, 3, 2, 1, 0, 0, 14197), datetime.datetime(2018, 3, 2, 1, 0, 0, 13260), 1069, None, 11, 6, [12, 37], 175.1, 3, 'AAPL')
(2, datetime.datetime(2018, 3, 2, 1, 0, 0, 14200), datetime.datetime(2018, 3, 2, 1, 0, 0, 13261), 1070, None, 11, 54, [12, 37], 175.1, 3, 'AAPL')

In [59]:
df = pd.DataFrame(ticks)

In [60]:
df.describe()

,sequence_number,exchange,size,price,tape,trf_id,trf_timestamp,correction
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,13131.000000,1.138000e+04,4.0
mean,152374.138220,10.171000,153.433940,173.377101,3.0,11.733303,1.520002e+18,8.0
std,103980.496305,4.937899,2761.588019,0.428787,0.0,0.679928,9.876662e+11,0.0
min,1069.000000,1.000000,1.000000,172.200000,3.0,10.000000,1.519996e+18,8.0
25%,60771.750000,4.000000,56.000000,173.060000,3.0,12.000000,1.520001e+18,8.0
50%,141489.500000,11.000000,100.000000,173.420000,3.0,12.000000,1.520002e+18,8.0
75%,234149.250000,12.000000,100.000000,173.720000,3.0,12.000000,1.520002e+18,8.0
max,361297.000000,19.000000,433903.000000,175.200000,3.0,12.000000,1.520003e+18,8.0

In [65]:
df['idx'].astype('int').describe()

count    50000.000000
mean      4474.375480
std       3551.822809
min          1.000000
25%       1376.000000
50%       3759.000000
75%       6843.250000
max      13749.000000
Name: idx, dtype: float64

In [69]:
df = df.sort_values(by='participant_timestamp', ascending=True)

In [70]:
df

,sip_timestamp,participant_timestamp,sequence_number,exchange,size,conditions,price,tape,symbol,idx,trf_id,trf_timestamp,correction
0,2018-03-02 01:00:00.014197,2018-03-02 01:00:00.013260,1069,11,6,"[12, 37]",175.1000,3,AAPL,1,NaN,NaN,NaN
1,2018-03-02 01:00:00.014200,2018-03-02 01:00:00.013261,1070,11,54,"[12, 37]",175.1000,3,AAPL,2,NaN,NaN,NaN
2,2018-03-02 01:00:00.069460,2018-03-02 01:00:00.069079,1077,11,3,"[12, 37]",175.1000,3,AAPL,3,NaN,NaN,NaN
3,2018-03-02 01:01:41.734930,2018-03-02 01:01:41.734552,1082,11,1,"[12, 37]",175.2000,3,AAPL,4,NaN,NaN,NaN
4,2018-03-02 01:03:46.888188,2018-03-02 01:03:46.887811,1087,11,28,"[12, 37]",174.9700,3,AAPL,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2018-03-02 07:04:07.785525,2018-03-02 07:04:07.782000,361262,4,200,[],173.7897,3,AAPL,1751,10.0,NaN,NaN
49996,2018-03-02 07:04:07.787324,2018-03-02 07:04:07.787097,361263,19,100,[],173.7900,3,AAPL,5770,NaN,NaN,NaN
49998,2018-03-02 07:04:08.206051,2018-03-02 07:04:08.205660,361296,11,100,[],173.7600,3,AAPL,7899,NaN,NaN,NaN
49997,2018-03-02 07:04:08.206041,2018-03-02 07:04:08.205660,361295,11,100,[],173.7600,3,AAPL,7898,NaN,NaN,NaN
49999,2018-03-02 07:04:08.206061,2018-03-02 07:04:08.205660,361297,11,1675,[],173.7600,3,AAPL,7900,NaN,NaN,NaN